@keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes rise_1 {
	0% { bottom: 0; }
	25% { bottom: 20%; }
	50% { bottom: 55%; }
	75% { bottom: 75%; }
	100% { bottom: 100%; }
}

@-webkit-keyframes rise_1 {
	0% { bottom: 0; }
	25% { bottom: 20%; }
	50% { bottom: 55%; }
	75% { bottom: 75%; }
	100% { bottom: 100%; }
}

@-moz-keyframes rise_1 {
	0% { bottom: 0; }
	25% { bottom: 20%; }
	50% { bottom: 55%; }
	75% { bottom: 75%; }
	100% { bottom: 100%; }
}

@keyframes rise_2 {
	0% { bottom: 0; }
	25% { bottom: 25%; }
	50% { bottom: 45%; }
	75% { bottom: 80%; }
	100% { bottom: 100%; }
}

@-webkit-keyframes rise_2 {
	0% { bottom: 0; }
	25% { bottom: 25%; }
	50% { bottom: 45%; }
	75% { bottom: 80%; }
	100% { bottom: 100%; }
}

@-moz-keyframes rise_2 {
	0% { bottom: 0; }
	25% { bottom: 25%; }
	50% { bottom: 45%; }
	75% { bottom: 80%; }
	100% { bottom: 100%; }
}

@keyframes rise_0 {
	0% { bottom: 0; }
	25% { bottom: 30%; }
	50% { bottom: 50%; }
	75% { bottom: 70%; }
	100% { bottom: 100%; }
}

@-webkit-keyframes rise_0 {
	0% { bottom: 0; }
	25% { bottom: 30%; }
	50% { bottom: 50%; }
	75% { bottom: 70%; }
	100% { bottom: 100%; }
}

@-moz-keyframes rise_0 {
	0% { bottom: 0; }
	25% { bottom: 30%; }
	50% { bottom: 50%; }
	75% { bottom: 70%; }
	100% { bottom: 100%; }
}

@keyframes aura_exp {
	0% {
		height: 90%;
		width: 90%;
		top: 5%;
		left: 5%;
	}
	100% {
		height: 150%;
		width: 200%;
		top: -25%;
		left: -50%;
	}
}

@-webkit-keyframes aura_exp {
	0% {
		height: 90%;
		width: 90%;
		top: 5%;
		left: 5%;
	}
	100% {
		height: 150%;
		width: 200%;
		top: -25%;
		left: -50%;
	}
}

@-moz-keyframes aura_exp {
	0% {
		height: 90%;
		width: 90%;
		top: 5%;
		left: 5%;
	}
	100% {
		height: 150%;
		width: 200%;
		top: -25%;
		left: -50%;
	}
}

@keyframes aura_con {
	0% {
		height: 150%;
		width: 200%;
		left: -50%;
		top: -25%;
	}
	100% {
		height: 90%;
		width: 90%;
		left: 5%;
		top: 5%;
	}
}

@-webkit-keyframes aura_con {
	0% {
		height: 150%;
		width: 200%;
		left: -50%;
		top: -25%;
	}
	100% {
		height: 90%;
		width: 90%;
		left: 5%;
		top: 5%;
	}
}

@-moz-keyframes aura_con {
	0% {
		height: 150%;
		width: 200%;
		left: -50%;
		top: -25%;
	}
	100% {
		height: 90%;
		width: 90%;
		left: 5%;
		top: 5%;
	}
}

@keyframes bFloat {
	0% {
		background-position-y: 0%;
	}
	100% {
		background-position-y: -100vh;
	}
}

@-webkit-keyframes bFloat {
	0% {
		background-position-y: 0%;
	}
	100% {
		background-position-y: -100vh;
	}
}

@-moz-keyframes bFloat {
	0% {
		background-position-y: 0%;
	}
	100% {
		background-position-y: -100vh;
	}
}

.fade_in {
	animation-name: fade_in;
	-webkit-animation-name: fade_in;
	-moz-animation-name: fade_in;
<<<<<<< HEAD
	animation-duration: 333ms;
	-webkit-animation-duration: 333ms;
	-moz-animation-duration: 333ms;
=======
	animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
>>>>>>> 99746df87f7722dd2c68a5e1a96036198b13585a
}

.rise_1 {
	animation-name: rise_1;
	-webkit-animation-name: rise_1;
	-moz-animation-name: rise_1;
	animation-duration: 3000ms;
	-webkit-animation-duration: 3000ms;
	-moz-animation-duration: 3000ms;
}

.rise_2 {
	animation-name: rise_2;
	-webkit-animation-name: rise_2;
	-moz-animation-name: rise_2;
	animation-duration: 9000ms;
	-webkit-animation-duration: 9000ms;
	-moz-animation-duration: 9000ms;
}

.rise_0 {
	animation-name: rise_0;
	-webkit-animation-name: rise_0;
	-moz-animation-name: rise_0;
	animation-duration: 6000ms;
	-webkit-animation-duration: 6000ms;
	-moz-animation-duration: 6000ms;
}

.fade_nu {
	display: none;
}

.aura_exp {
	animation-name: aura_exp;
	-webkit-animation-name: aura_exp;
	-moz-animation-name: aura_exp;
	animation-duration: 25s;
	-webkit-animation-duration: 25s;
	-moz-animation-duration: 25s;
}

.aura_con {
	animation-name: aura_con;
	-webkit-animation-name: aura_con;
	-moz-animation-name: aura_con;
	animation-duration: 15s;
	-webkit-animation-duration: 15s;
	-moz-animation-duration: 15s;
}

body {
	background-image: url("/static/img/sparks.png");
	background-size: 100% 100%;
	background-repeat: repeat;
	background-position-x: center;
	background-color: #000000;
<<<<<<< HEAD
	/*animation-name: bFloat;
	-webkit-animation-name: bFloat;
	animation-duration: 45s;
	-webkit-animation-duration: 45s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;*/
=======
	animation-name: bFloat;
	-webkit-animation-name: bFloat;
	animation-duration: 120s;
	-webkit-animation-duration: 120s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
>>>>>>> 99746df87f7722dd2c68a5e1a96036198b13585a
	color: #302418;
	font-family: 'Oldenburg', cursive;
	width: 75vw;
	margin: auto;
	perspective: 1000px;
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
	overflow: hidden;
	height: 100vh;
}

.mainDiv {
	position: relative;
}

.aura {
	background: -webkit-radial-gradient(circle, #fcfe6e 10%, rgba(255, 90, 30, .75) 35%, rgba(0, 0, 0, 0) 55%);
	background: -o-radial-gradient(circle, #fcfe6e 10%, rgba(255, 90, 30, .75) 35%, rgba(0, 0, 0, 0) 55%);
	background: -moz-radial-gradient(circle, #fcfe6e 10%, rgba(255, 90, 30, .75) 35%, rgba(0, 0, 0, 0) 55%);
	background: radial-gradient(circle, #fcfe6e 10%, rgba(255, 90, 30, .75) 35%, rgba(0, 0, 0, 0) 55%);
	position: absolute;
	z-index: -100;
}

.aura_hUp {
	top: -25%;
	left: -50%;
	width: 200%;
	height: 150%;
}

.aura_hDn {
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

.sc_back {
	background-image: url("/static/img/scroll.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.page {
	z-index: 0;
	height: 90vh;
	width: 71vw;
<<<<<<< HEAD
	margin-left: 3vw;
=======
	padding-left: 1vw;
	padding-right: 2vw;
>>>>>>> 99746df87f7722dd2c68a5e1a96036198b13585a
}

.popBox {
	background-image: url("/static/img/popBox.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.left_page_col {
	position: absolute;
	width: 33%;
	height: 60vh;
	overflow-y: auto;
}

.right_page {
	float: right;
	width: 65%;
	overflow: auto;
	height: 60vh;
	position: relative;
	padding-left: 1vw;
}

.right_page_form {
	position: initial;
}

.sixty_he{
    margin-top: 10vh;
	margin-left: 14.5%;
	float: left;
    width: 72%;
    position: relative;
}

.innerList {
	overflow-y: auto;
	overflow-x: hidden;
}

h2 {
	padding-left: 1em;
	margin-bottom: .2em;
}

.next_butt {
	position: absolute;
	right: 35px;
	top: 10px;
}

ul {
	list-style: none;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

ul.topped {
	margin-top: 1vh;
}

li {
	width: 100%;
    position: relative;
    display: inline-flex;
}

span {
	width: 100%;
	display: inline-block;
}

p {
	width: 95%;
	font-size: 1.1em;
	margin-right: 0;
	height: fit-content;
}

label{
	position: relative;
	font-weight: 300;
	font-size: 1.35em;
	margin: 5px auto;
	height: 20px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}

.sing_select option[label]{
	background-color: #faffc2;
}

.sing_select {
	background-color: #faffc2;
}

input, textarea, select {
	background: transparent;
	border: none;
	text-align: center;
	font-size: 1.25em;
	font-family: 'Oldenburg', cursive;

}

select {
	min-width: 250px;
}

textarea {
	resize: vertical;
	width: 100%;
	text-align: left;
}

input:focus, textarea:focus, select:focus, select:active {
	outline-color: #302418;
	border: none;
}

input.found {
	color: rgba(200, 4, 4, 1);
	background-color: rgba(133, 4, 4, 0.75);
}

.clickable {
	background-image: url("/static/img/pencil.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	cursor: pointer;
	text-align: center;
	font-size: 150%;
	height: 50px;
	padding-top: 3%;
}

.clickable:hover {
	background-image: url("/static/img/pencil_l.png");
	background-size: 100% 100%;
	color: #FFFFC1;
	font-weight: 200;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

button {
	float: right;
	background-image: url("/static/img/plug.png");
	background-size: 120% 120%;
	background-position: center;
	color: #302418;
	display: inline-block;
  	padding: 10px 15px;
  	font-size: 1em;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
	border-width: 3px;
	border-color: #302418;
	border-style: hidden;
	outline: none;
  	border-radius: 35px;
  	box-shadow: 0px 0px 10px 5px #e96a2b;
	margin-top: 5px;
	z-index: 450;
}

button:hover {
	box-shadow: 0px 0px 20px 10px #c58558;
}

button:active {
	box-shadow: 0px 0px 25px 15px #ffb883;
	transform: scale(0.9, 0.9);
}

.inline_butt {
	position: relative;
	padding: 0.25em 0.75em;
	float: none;
	width: 3em;
}

.characterBlock {
	width: 100%;
	font-size: 1.3em;
	padding-top: 1%;
	position: relative;
	z-index: 100;
}

.talentPanelOut {
	position: absolute;
	top: 0;
	padding-left: 3%;
	padding-right: 3%;
	height: 100%;
	z-index: 150;
	width: 85%;
	left: 4%
}

.talentPanel {
	position: relative;
	overflow-y: auto;
	height: 95%;
	width: 100%;
	margin-top: 1.5vh
}

.talentPanel > p {
	width: 100%;
	font-size: 1.1em;
}

.taleDesc {
	white-space: pre-line;
	margin-top: 2%;
}

.taleDesc > img {
	height: 1em;
}

.abilities {
	width: 95%;
}

.tablePage {
	height: 68vh;
	font-size: 1.35em;
	overflow: auto;
}

.tabPag_inner {
	margin-top: 2%;
	height: 92%;
	overflow: auto;
}

table {
	width: 100%;
	padding-left: 2%;
}

tr {
	background-image: url("/static/img/pencil.png");
	background-size: 120% 20%;
	background-repeat: no-repeat;
	background-position: bottom center;
	cursor: pointer;
}

tr.item:hover {
	background-image: url("/static/img/pencil_l.png");
	background-size: 100% 100%;
	color: #FFFFC1;
	font-weight: 200;
}

tr.bg_none {
	background: none;
}

td.numb {
	text-align: right;
}

td.rang {
	text-align: center;
}

td.table_name {
	font-size: 1.25em;
}

.sideNav {
	position: absolute;
	height: 30vh;
	width: 2.5%;
	left: 9vw;
	top: 8vh;
}

.sideNav > span {
	padding-top: 1vh;
	cursor: pointer;
}

.sideNav > span:hover {
	background: -webkit-radial-gradient(#FFFFFF 10%, rgba(255, 130, 75, .9) 35%, rgba(0, 0, 0, 0) 70%);
	background: -o-radial-gradient(#FFFFFF 10%, rgba(255, 130, 75, .9) 35%, rgba(0, 0, 0, 0) 70%);
	background: -moz-radial-gradient(#FFFFFF 10%, rgba(255, 130, 75, .9) 35%, rgba(0, 0, 0, 0) 70%);
	background: radial-gradient(#FFFFFF 10%, rgba(255, 130, 75, .9) 35%, rgba(0, 0, 0, 0) 70%);
	background-position: center;
	background-size: 150% 150%;
}

.bubble {
	position: absolute;
	width: 30px;
	height: 30px;
}

.inline_span {
	width: auto;
}

.note {
	font-size: 1.5em;
	font-family: 'Oldenburg', cursive;
	white-space: pre-wrap;
}

.p_menu {
	min-height: 2em;
}

.p_inline {
	font-size: 1.25em;
}
